/* 内容部分 */

@font-face { font-family: ERA; src: url("./cssimages/ERASBD.TTF"); }
@font-face {font-family: FZ;src: url("./cssimages/FZ.ttf");}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.starline{
  width: 100%;

}
.starline img{
  width: 100%;
}

/* 正文 */

.sec{
  position: relative;
  padding: 50px;
  background: rgb(1, 6, 51);
  z-index: 200px;
  font-family: FZ;
}
.neoh2{
  font-size:70px;
  color: rgb(1, 6, 51);
  margin-bottom: 10px;
  -webkit-text-stroke: 3px gold;
}
.neop{
  color: #fff;
  font-size: 1.2em;
}

.endwords{
  height: 50px;
  color: white;
  font-size: 20px;
  text-align: center;
}

.endlo{
  width: 450px;
}

.ending{
  height: 150px;
  margin-top: 40px;
  overflow: hidden;
  /* border-bottom: white solid 2px; */
}

/* 搜索 */
.a{
  position:absolute;
  bottom: 230px;
  left:470px;
  transform: translate(0,-100%);
  background-color:white;
  /* backdrop-filter: blur(100%); */
  height: 48px;
  border-radius: 40px;
  border: gold solid 4px;
  padding:0px;
}
.a:hover #c{
  background-color: rgb(165, 165, 241);
}
.b{
  border: none;
  background: none;
  outline: none;
  width: 0;
  padding: 0px;
  transition: 0.4s;
  line-height: 40px; 
  font-size: 20px; 
  color:black;
}

.a:hover .b{
  width: 200px;
  padding: 0 6px;
}
#c{
  color: #e94118;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color:white;
  display: flex;
  justify-content: center;
  align-items:center;
  transition: 0.4s;
}

#c:hover{
  cursor: pointer;
}

.ending h2{
  display: inline-block;
  position: relative;
  left: 420px;
  bottom: 87px;
  color: gold;
  font-size: 30px;
  color: white;
  -webkit-text-stroke: 2px #32003C;
}

/* 社交按钮 */
.socialm {
	display: flex;
}
.socialm .btn {
	border: gold solid 2px;
	overflow: hidden;
	position: relative;
  left: 420px;
  bottom: 90px;
	width: 30px;
	height: 30px;
	text-align: center;
	margin: 0 3px;
	border-radius: 8px;
	background-color: white;
	/* 盒子阴影 */
	box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
}
.socialm .fa {
	font-size: 13px;
	transform: scale(0.8);
	line-height: 30px;
	/* 第三个值是贝塞尔曲线 让运动曲线有无限可能  https://cubic-bezier.com/ */
	transition: all 0.4s cubic-bezier(0.31, -0.1, 0.43, 1.59);
}
.socialm .btn::before {
	content: "";
	position: absolute;
	top: 90%;
	left: -110%;
	width: 120%;
	height: 120%;
	transform: rotate(45deg);/* 顺时针旋转45度 */
	transition: all 0.4s cubic-bezier(0.31, -0.1, 0.43, 1.59);
}
.socialm img{
	height: 25px;
  width: 25px;
}
.socialm .btn .fa-facebook {
	color: #3b5988;
}
.socialm .btn_facebook::before {
	background-color: #3b5988;
}
.socialm .btn .fa-qq {
	color: #00aff0;
}
.socialm .btn_qq::before {
	background-color: #00aff0;
}
.socialm .btn .wx {
	color: greenyellow;
}
.socialm .btn_wx::before {
	background-color: greenyellow;
}

.socialm .btn .fa-tt {
	color: #bf00ff;
}
.socialm .btn_tt::before {
	background-color: #bf00ff;
}

.socialm .btn:hover::before {
	top: -10%;
	left: -10%;
}
.socialm .btn:hover .fa {
	color: #fff;
	transform: scale(1);
  /* 恢复 */
}

.ent{
  position: relative;
  left: 460px;
  bottom: 100px;
  height: 120px;
}

.colorfont{
  width: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 10px;
  display: flex;
}


.colorfont span {
	font-family: ERA;
	font-size: 100px;
	color: #fff;
	-webkit-text-stroke: 3px #000;
	text-transform: uppercase;
	text-shadow: 0 0 #f3c623, 0 0 #f2aaaa;
  transform:translate(0, 30%) rotate(2deg);
	/* 让文字先向下走自身高度的30%,然后顺时针旋转2度 */
	
	/* 动画 名称 时长 第三个值是延迟时长 calc是自动计算的方法,
  里面写的var()函数是会调用事先自定义好的属性值,我们刚才给span添加的--i:*就是一个自定义属性,
  var()能调用到相应的span的定义好的属性值,然后在*120ms来计算每个文字的延迟时长省时省力,第四
  个值是两头慢,中间快,第五个值是无线运动 https://gitee.com/QH_ayang/projects */

	animation: move 2s calc(var(--i) * 120ms) ease-in-out infinite;
}
/* 定义动画 */
@keyframes move {
	0%,
	100% {
		text-shadow: 0 0 #f3c623, 0 0 #f2aaaa;
	}
	33.33% {
		text-shadow: 0 10px #f37121, 0 20px #f2aaaa;
	}
	50% {
		text-shadow: 0 0 #8fc0a9, 0 0 #84a9ac;
		/* 动画到一半向上走自身的30%,逆时针旋转 */
		transform: translate(0, -30%) rotate(-2deg);
	}
	66.66% {
		text-shadow: 0 -10px #d54062, 0 -20px #8fc0a9;
	}
}


.myhometown{
  display: block;
  height:260px;
  width: 100%;
  margin-top: 30px;
  border-radius: 30px;
  border: gold solid 5px;
  background-color: #323a5c;
  padding: 10px;
  overflow: hidden;
}

.myhometown h2{
  font-size: 60px;
  font-family: ERA;
  font-style: italic;
  color: white;
  -webkit-text-stroke: 2px gold;
}

.myhometown img{
  display: inline-block;
  position: relative;
  left: 560px;
  top: -80px;
  height: 100px;
}

.myhometown h3{
  display: inline-block;
  position: relative;
  font-family: FZ;
  top: -90px;
}

.seex{
  display: flex;
  height: 520px;
  margin-bottom: 30px;
}
/* 手动轮播图 */
.slide {
  float: left;
  padding: 0px;
  border:5px solid gold;
  border-radius: 30px;
  position: relative;
  margin-top: 50px;
  /* right: -580px; 
  top: -500px; */
  width:807px;
  height: 487px;
  text-align: center;
  font-family: ERA;
  color: #fff;
  overflow: hidden;
}
.slide ul {
  /* margin: 10px 0; */
  padding: 0;
  width: calc(800px * 3);
  transition: all .5s;
  align-items: center;
}
.slide li {
  float: left;
  width: 800px;
  height: 500px;
  list-style: none;
  line-height: 500px;
  font-size: 50px;
}
.slide li:nth-child(1) {
  background-image: url(./cssimages/70years.jpg);
  background-size: contain;
}
.slide li:nth-child(2) {
  background-image: url(./cssimages/kz.jpg);
  background-size: cover;
}
.slide li:nth-child(3) {
  background-image: url(./cssimages/bl.jpg);
  background-size: cover;
}
.slide input[name="button"] {
  display: none;
  

}
.slide label[for^="button"] {
  position: absolute;
  top: 450px;
  width: 20px;
  height: 20px;
  margin: 0 10px;
  line-height: 20px;
  color: rgb(255, 255, 255);
  background-color: burlywood;
  cursor: pointer;
  border-radius: 50%;
  transition: .3s;
}
.slide label[for="button1"] {
  left: 40%;
}
.slide label[for="button2"] {
  left: 45%;
}
.slide label[for="button3"] {
  left: 50%;
}
#button1:checked ~ul {
  margin-left: 0;
}
#button2:checked ~ul {
  margin-left: -800px;
}
#button3:checked ~ul {
  margin-left: -1600px;
}
#button1:checked ~ label[for="button1"] {
  background: gold;
}
#button2:checked ~ label[for="button2"] {
  background: gold;
}

#button3:checked ~ label[for="button3"] {
  background: gold;
}

.bigboot{
  width: 100%;
  height: 540px;
  display: flex;
  overflow: hidden;
}

/* 生日模块 */
.mybirday{
  padding: 10px;
  display: inline-block;
  position: relative;
  top: 50px; 
  left: -30px;
  background-color: #323a5c;
  border:5px solid gold;
  border-radius: 30px;
  width: 911px;
  height: 487px;
  margin-left: 30px;
  overflow: hidden;
  transition: 0.3s;
}

.mybirday h2{
  font-style: italic;
  font-size: 40px;
  color: gold;
  -webkit-text-stroke: 2px #32003C;
  font-family: ERA;
}

.mybirday h3{
  font-family: FZ;
  font-size: 25px;
  color: black;
  -webkit-text-stroke: .5px rgb(27, 24, 5);
  position: relative;
  top: -3px;
}


.mybirday h4{
  align-items: center;
  font-size: 30px;
  color: black;
  text-align: center;
  -webkit-text-stroke: 0.5px gold;
  font-family: ERA;
}

.mybirday p{
  text-align: center;
  font-size: 20px;
  color: gold;
  -webkit-text-stroke: 0.1px #32003C;
}

/* 间隔线 */
.starline{
  width: 100%;

}
.starline img{
  width: 100%;
}

/* 焦点图 */
.oxbox {
  display: flex;
  align-items: center;
  justify-content: center;
	width: 1000px;
	height: 500px;
}
.oxbox ul {
	list-style: none;
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	/* 让子元素在Y轴的最下面排列 */
	align-items: flex-end;
}

.oxbox ul li {
	width: 200px;
	/* 鼠标移入变小手 */
	cursor: pointer;
}

.oxbox ul li img {
  border-radius: 20px;
	width: 100%;
	border: 5px solid transparent;
  height: 80px;
  overflow: hidden;
  /* 边框透明 */
}

.oxbox ul .bigimg {
	position: absolute;
	top: 0;
	left: 0;
	width: 1000px;
	height: 400px;
  border-radius: 30px;
	border:gold solid 5px;
	background: url("./cssimages/p2\ \(1\).jpg");
  background-repeat: no-repeat;
	/* 图片以宽度为最大铺满整个盒子 */
	background-size:cover;
	transition: all 0.5s;
}

/* 移动框*/
.oxbox ul .divbox {
	position: absolute;
	left: 0;
  border-radius: 20px;
	bottom: 4px;
	width: 200px;
	height: 80px;
	border: gold solid 5px;
	pointer-events: none;
	transition: all 0.5s;
}
.oxbox ul li:nth-child(1):hover ~ .bigimg {
	background-image: url("./cssimages/p2\ \(1\).jpg");
  background-size: cover;
}
.oxbox ul li:nth-child(1):hover ~ .divbox {
	left: 0;
  background-size: cover;
}
.oxbox ul li:nth-child(2):hover ~ .bigimg {
	background-image: url("./cssimages/p2\ \(2\).jpg");
}
.oxbox ul li:nth-child(2):hover ~ .divbox {
	left: 200px;
}
.oxbox ul li:nth-child(3):hover ~ .bigimg {
	background-image: url("./cssimages/p2\ \(3\).jpg");
}
.oxbox ul li:nth-child(3):hover ~ .divbox {
	left: 400px;
}
.oxbox ul li:nth-child(4):hover ~ .bigimg {
	background-image: url("./cssimages/p2\ \(4\).jpg");
}
.oxbox ul li:nth-child(4):hover ~ .divbox {
	left: 600px;
}
.oxbox ul li:nth-child(5):hover ~ .bigimg {
	background-image: url("./cssimages/p2\ \(5\).jpg");
}
.oxbox ul li:nth-child(5):hover ~ .divbox {
	left: 800px;
}

.onlines{
  height: 500px;
  display: flex;
  overflow: hidden;
}


.like{
  padding: 30px;
  width: 360px;
  float: right;
  background-color: #323a5c;
  border-radius: 30px;
  border: gold solid 5px;
  margin-left: 30px;
  background-image: url("./cssimages/nico.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.like h2{
  position: relative;
  top: 130px;
  text-align: center;
  font-size: 30px;
  font-family: FZ;
  -webkit-text-stroke: 0.5px gold;
}
.like:hover h2{
  color: #fff;
    text-shadow: 0 0 5px gold,
                 0 0 10px gold,
                 0 0 15px gold,
                 0 0 40px gold,
                 0 0 60px gold;
}
