*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgba(11, 11, 63, 0.856);
    background-image: url("./images/bkp.png");
}
/* 背景 */
section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-image: url("./images/stars.png");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    
}
section::hover{
    background-size: 120%;
}

section .box{
    position: relative;
    z-index: 100;
}

section .box .container{
    border: gold solid 5px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 400px;
    background-color: rgba(255,255,255,0.1);
    box-shadow: 0 25px 45px rgba(0,0,0,0.1);
    border-radius: 50px;
    backdrop-filter: blur(50px);
    transition-timing-function:linear;
    -moz-backdrop-filter: blur(60px); 
}

section .box .container .dycalendar{
    width: 100%;
    padding: 20px;
}
section .box .container .dycalendar table{
    width: 100%;
    margin-top: 40px;
}

#piclogo{
    position: relative;
    left: -180px;
    top: -10px;
    width: 600px;
}
.logoa1
{
    display: flex;
    position: relative;
    width: 10px;
}
/* 登录盒子 */
.login-box{
    
    padding-left: 25px;
    display: flex;
    position: relative;
    left: 170px;
    height:380px;
    border-left: white solid 2px;
}
form{
    width: 360px;
}
.avatar{
    width: 100px;
}
form h2{
    font-size: 2.9rem;
    text-transform: uppercase;
    margin: 15px 0;
    color: white;
}

.input-group{
    position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid white;
}

.input-group:nth-child(1){
    margin-bottom: 4px;
}
.input-group:before,.input-group:after{
    content: '';
    position: absolute;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: orange;
    transition: .5s;
}
.input-group:after{
    right: 50%;
}
.input-group:before{
    left: 50%;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon i{
    color: white;
    transition: .5s;
}

.input-group > div{
    position: relative;
    height: 45px;
}

.input-group >div > h5{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 18px;
    transition: .3s;
}
.input-group.focus .icon i{
    color: orange;
}
.input-group.focus div h5{
    top: -5px;
    font-size: 15px;
}
.input-group.focus:after,.input-group.focus:before{
    width: 50%;
}
.input{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
    outline: none;
    background: none;
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
    color: #555;
    font-family: 'Roboto', sans-serif;
}
a{
    display: block;
    text-align: right;
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
    transition: .3s;
}
a:hover{
    color: orange;
}
.btn{
    display: inline-block;
    width: 40%;
    height: 50px;
    border-radius: 25px;
    margin: 5px;
    margin-left: 1px;
    font-size: 1.2rem;
    outline: none;
    border: none;
    cursor: pointer;
    color: #fff;
    font-family: '华文中宋', sans-serif;
    background-size: 200%;
    transition: .5s;
}
#btn1{
    
    background-image: linear-gradient(to right,orange,rgb(233, 188, 104),rgb(245, 212, 63));
    /* 渐变过渡 */
}
#btn2{
    position: relative;
    top: -59px;
    background-image: linear-gradient(to right,orange,rgb(233, 188, 104),rgb(245, 212, 63));
}
.btn:hover{
    background-position: right;
}